### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_players = pd.DataFrame({"Total Players":[len(purchase_data["SN"].unique().tolist())]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
purchase_analysis = pd.DataFrame({"Number of Unique Items":[len(purchase_data["Item ID"].value_counts())], "Average Price":[purchase_data["Price"].mean()], "Number of Purchases":[len(purchase_data["Purchase ID"])], "Total Revenue":[purchase_data["Price"].sum()]})
purchase_analysis.round(2)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender_group = purchase_data.groupby(["Gender"])
gender_demo = pd.DataFrame(gender_group["Gender"].count())
gender_demo["Percentage of Players"] = gender_demo["Gender"]/purchase_data["Gender"].count()*100
gender_demo_revised = gender_demo.rename(columns={"Gender":"Total Count", "Percentage of Players":"Percentage of Players"})
gender_demo_sorted = gender_demo_revised.sort_values(["Total Count"], ascending=False)
gender_demo_sorted.round(2)

                       Total Count  Percentage of Players
Gender
Male                           652                  83.59
Female                         113                  14.49
Other / Non-Disclosed           15                   1.92


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purch_analysis_gender = gender_demo_sorted.round(2)
purch_analysis_gender["Total Purchase Amount"] = gender_group["Price"].sum().map("${:,.2f}".format)
purch_analysis_gender["Average Purchase Amount"] = gender_group["Price"].mean().map("${:,.2f}".format)
purch_analysis_gender.round(2)

,Total Count,Percentage of Players,Total Purchase Amount,Average Purchase Amount
Gender,,,,
Male,652,83.59,"$1,967.64",$3.02
Female,113,14.49,$361.94,$3.20
Other / Non-Disclosed,15,1.92,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_count = pd.cut(purchase_data["Age"], bins, labels=labels)
age_demo = pd.DataFrame(age_count.value_counts())
age_demo.index.names = ["Age Group"]
age_analysis = age_demo.rename(columns={"Age":"Total"})
age_analysis["Percentage"] = age_analysis["Total"]/purchase_data["Age"].count()*100
age_sort = age_analysis.sort_values(["Age Group"])
age_sort.round(2)

           Total  Percentage
Age Group
<10           32        4.10
10-14         54        6.92
15-19        200       25.64
20-24        325       41.67
25-29         77        9.87
30-34         52        6.67
35-39         33        4.23
40+            7        0.90

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
purchase_data["Age Demo"] = age_count
age_group = purchase_data.groupby(["Age Demo"])
age_data = pd.DataFrame(age_group["Age Demo"].count())
age_data = age_data.rename(columns={"Age Demo":"Total Purchases"})
age_data["Avg. Price"] = age_group["Price"].mean().map("${:,.2f}".format)
age_data["Total Purchase Value"] = age_group["Price"].sum().map("${:,.2f}".format)
age_data["Average Purchase Per Player"] = age_group["SN", "Price"].mean()
age_data.round(2)

,Total Purchases,Avg. Price,Total Purchase Value,Average Purchase Per Player
Age Demo,,,,
<10,32,$3.40,$108.96,3.40
10-14,54,$2.90,$156.60,2.90
15-19,200,$3.11,$621.56,3.11
20-24,325,$3.02,$981.64,3.02
25-29,77,$2.88,$221.42,2.88
30-34,52,$2.99,$155.71,2.99
35-39,33,$3.40,$112.35,3.40
40+,7,$3.08,$21.53,3.08

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
player_group = purchase_data.groupby(["SN"])
player_data = pd.DataFrame(player_group["SN"].count())
player_data = player_data.rename(columns={"SN":"Times Purchased"})
player_data["Average Price"] = player_group["Price"].mean().map("${:,.2f}".format)
player_data["Total Value"] = player_group["Price"].sum().map("${:,.2f}".format)
player_data = player_data.sort_values(["Total Value"], ascending=False)
player_data.head()

              Times Purchased Average Price Total Value
SN
Haillyrgue51                3         $3.17       $9.50
Phistym51                   2         $4.75       $9.50
Lamil79                     2         $4.64       $9.29
Aina42                      3         $3.07       $9.22
Saesrideu94                 2         $4.59       $9.18

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
items_group = purchase_data.groupby(["Item ID", "Item Name"])
item_data = pd.DataFrame(items_group["Item ID"].count())
item_data = item_data.rename(columns={"Item ID":"Purchase Count"})
item_data["Item Price"] = items_group["Price"].mean().map("${:,.2f}".format)
item_data["Sales Total"] = items_group["Price"].sum().map("${:,.2f}".format)
item_data = item_data.sort_values(["Purchase Count"], ascending=False)
item_data.head()

,,Purchase Count,Item Price,Sales Total
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [23]:
item_data_total = item_data.sort_values(["Sales Total"], ascending=False)
item_data_total.head()

,,Purchase Count,Item Price,Sales Total,Sales (Men),Sales (Women)
Item ID,Item Name,,,,,
63,Stormfury Mace,2,$4.99,$9.98,2,2
29,"Chaos, Ender of the End",5,$1.98,$9.90,5,5
173,Stormfury Longsword,2,$4.93,$9.86,2,2
1,Crucifer,3,$3.26,$9.78,3,3
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48,4,4